body {
  margin: 0;
}

/* HEADER SHIT */
header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  color: #F9FAF8;

}

ul {
  display: flex;
  gap: 16px;
}

li, a {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
}

/* FIRST */
.first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background-color: #1F2937;
  padding-top: 50px;
  padding-bottom: 77px;
}
.title {
display: flex;
flex-direction: column;
width: 400px;
}

.img {
  background-color: grey;
  width: 400px;
  height: 167px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
}

p#aws {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB;
  filter: contrast(75%);
  padding: 5px;
}

button {
  color: white;
  background-color: #3882F6;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
}

/* SECOND */

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  width: 1420px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 72px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  color: gray;
}

.box {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

/* THIRD BABY FUCK YEAH */

.third {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-left: 325px;
  padding-right: 325px;
  height: 350px;
  font-size: 36px;
  font-weight: 10;
  font-style: italic;
  color: #1F2937;
}

#thor {
  align-self: flex-end;
  font-style: normal;
  font-size: 22px;
  font-weight: 800;
  margin-top: -50px;
  margin-right: 20px;
}